<th:block th:insert="fragments/header" />
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="pageTitle">Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p>Bacon ipsum dolor amet chuck turducken picanha, cow leberkas drumstick pork chop pork belly shank t-bone ham hock prosciutto ribeye. Meatball picanha jerky chicken chislic jowl. Shank bresaola frankfurter pork belly salami alcatra sausage. Bacon pork chop tenderloin beef ribs meatloaf.</p>
            <p>Sirloin pork brisket chicken corned beef. Pork loin strip steak filet mignon pork. Brisket beef ball tip, porchetta turkey buffalo alcatra meatloaf prosciutto jowl. Pastrami ham hock capicola, kevin bresaola ribeye sirloin beef turducken chicken short loin frankfurter.</p>
            <p>Turducken salami bacon rump corned beef ground round strip steak porchetta beef pork loin cow tail pastrami. Pork loin sirloin ground round alcatra. Boudin chislic hamburger prosciutto pig turkey kevin alcatra pork belly pastrami. Pastrami brisket ham leberkas biltong jerky cow pork loin alcatra tenderloin tri-tip shankle bresaola. Shoulder jowl turducken frankfurter chicken flank. Cow short ribs fatback beef ribs cupim boudin ball tip.</p>
            <p>Kielbasa pork loin I seriously think you should evaluate your use of free time again chuck pancetta porchetta. Beef pork loin ribeye meatball. Turducken fatback ribeye short ribs sirloin shankle flank, hamburger chicken. Filet mignon jowl rump salami bacon, landjaeger frankfurter beef ribs flank. Picanha rump swine kielbasa, spare ribs ham buffalo brisket fatback ground round burgdoggen jowl tri-tip sausage flank. Chuck alcatra spare ribs andouille sausage.</p>
            <p>Short ribs hamburger pork belly tail. Shank biltong tri-tip turducken filet mignon. Sausage ham hock boudin, chislic salami pancetta ground round. Beef tongue short ribs picanha, pork belly ribeye strip steak jowl drumstick pork beef ribs meatball corned beef. Buffalo t-bone ball tip, pork jerky porchetta landjaeger. Kielbasa capicola strip steak chislic.</p>
        </div>
    </div>
</div>
<th:block th:insert="fragments/footer" />